@import 'variables';
@import 'node_modules/rayon/src/styles/rayon';
@import 'node_modules/rayon/src/styles/theme';

a {
	text-decoration: none;
	// color: #FFF;
	text-align: center;
}

h1 {
	text-align: center;
}

.header {
	background-color: #3C579D;
	border-bottom: 1px solid #000;
}

.footer {
	background-color: $slateGrey;
	border-top: 1px solid #000;
	color: #FFF;
}

.homeContainer {
	width: 100%;
	height: 40em;
	background-image: url(./../images/foyer-blue.jpg);
	background-repeat: no-repeat;
	// background-position: center;
	background-size: cover;
	padding-top: 5em;
}

.homeBoxes {
	width: 60%;
	margin: 0 auto;
	padding: 2em;
	background: rgba(255,255,255,0.5);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 0.3em;
}

.homeBox {
	border: 1px solid #000;
	background-color: $lGrey;
	margin-bottom: 0.5em;
	padding: 0.3em;
	text-align: center;
	border-radius: 0.3em;

	.homeBoxLink {
		color: #000;
	}
}

.logInForm {
	display: none;
}

.navBar {
	background-color: none;
	color: #FFF;
	overflow: hidden;
	position: absolute;
}

.navLinks {
	float: right;
}

.navLink {
	margin-right: 2em;
	text-shadow: 1px 1px 2px black;
}

.navLeft {
	margin-left: 2em;
}

.logoDiv {
	float: left;

	.homeFinderLogo {
		float: left;
		filter: drop-shadow(1px 1px 2px black);
		height: 4em;
	}

	.homeFinderName {
		float: right;
		text-shadow: 1px 1px 2px black;
	}
}

.footerText {
	text-align: center;
	font-weight: lighter;
}

.dashBoardDiv {
	background-color: $lGrey;
}

.listingPage {
	// background-image: url(./../images/slateonblue.png);
	background-color: #6699FF;
}

.propThumb {
	width: 60%;
	border: 1px solid #000;
	background-color: $lGrey;
	margin: 0 auto 0.5em auto;
	padding: 0.3em;
	border-radius: 0.3em;
}

.propThumb:hover {
	background-color: orange;
}

.searchBar {
	width: 50%;
	margin: 0 auto;
}