// Look at airbnb search for design

@import 'variables';
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/rayon/src/styles/rayon';
@import 'node_modules/rayon/src/styles/theme';

h1 {
	text-align: center;
	color: #FFF;
}

a {
	text-decoration: none;
	color: $backBlue;
}

a:visited {
	color: $backBlue;
}

.navBar {
	background-color: $slateGrey;
	width: 100%;
	overflow: hidden;

	.hamburger {
		float: right;
		line-height: 5em;
		margin-right: 1em;

		.fa-bars {
			cursor: pointer;
			vertical-align: middle;
			color: #FFF;
		}

		.mobile-menu {
			display: none;
			background-color: #FFF;
		}
	}

	.regForm {

		span {
			color: #000;
		}
	}

	.logoDiv {
		float: left;

		a:visited {
			color: #FFF;
		}

		.homeFinderLogo {
			float: left;
			height: 4em;
		}

		.homeFinderName {
			float: right;
			font-weight: lighter;
			display: none;
		}

		.navLeft {
			margin: 0.5em 0 0 1em;
		}
	}

	.navLinks {
		float: right;
		line-height: 5em;
		margin-right: 1em;
		display: none;

		span {
			margin-right: 0.3em;
		}

		.leftNavItem {
			margin-left: 2em;
			color: #FFF;
		}

		.navLink {

		}

		.divider {
			margin: 0 0.3em;
			color: #FFF;
		}
	}
}

.rayon-parent {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: scroll;
}

.pageDiv {
	padding-top: 1em;
}

.breadCrumbs {
	margin-right: 0.5em;
}

.crumbOne {
	margin-left: 2em;
}

.loginForm {

}

.homeContainer {
	width: 100%;
	height: 40em;
	background-image: url(./../images/bgPhoto.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;

	.welcomeBox {

		.homeFinderNameMobile {
			color: #fff;
			padding: 1em 0;
			text-align: center;
		}

		.welcome {
			color: #FFF;
			text-align: center;
		}
	}

	.homeBoxes {
		width: 65%;
		margin: 0 auto;
		padding: 1.7em;
		background: rgba(255,255,255,0.4);
    	box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
    	overflow: hidden;
   		border-radius: 0.3em;
   		margin-top: 2em;

		.homeBoxLink {
			color: #fff;
			background-color: $buttonBlue;;
			margin: 0.3em auto;
			padding: 0.7em;
			text-align: center;
			border-radius: 0.3em;
			cursor: pointer;
			border: none;
			width: 100%;
		}
	}
	
}

.listingPage {
	background-color: $lGrey;
	overflow: hidden;
	width: 100%;

	.detailsPhoto {
		margin: 0 auto;
		width: 80%;
		display: block;
	}

	.morePhotos {
		width: 200px;
		margin: 0 auto;
	}
}

.fa-angle-right {
	margin-right: 0.5em;
}

.propDetailsBlock {

	ul {
		list-style: none;
	}
}

.dashboardDiv {
	background-color: $lGrey;
}

.propThumb {
	width: 80%;
	background-color: #FFF;
	margin: 0 auto 0.5em auto;
	padding: 0.3em;
	clear: both;
	overflow: hidden;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	cursor: pointer;

	.thumbImg {
		width: 100%;
	}

	.thumbInfo {
		margin-left: 1em;
	}

	ul {
		list-style: none;
		padding: 0;
	}
}

.propThumb:hover {
	background-color: #ccc;
}

.searchBar {
	width: 50%;
	margin: 0 auto;
}

.propEntryForm {

	.propFormInput {

	}

	.propFormButtons {
		
	}
}

.bigPhotoBox {
	width: 95%;
	margin: 0 auto;

	.bigPhoto {
		width: 100%;
	}
}

.footer {
	background-color: $slateGrey;
	color: #FFF;

	.footerText {
		text-align: center;
		font-weight: lighter;
		padding: 1em 0;
		margin: 0;
	}
}

@media (min-width: 500px) {

	.navBar {

		.logoDiv {

			.homeFinderName {
				display: block;
			}
		}

		.hamburger {
			display: none;
		}

		.navLinks {
			display: block;
		}
	}

	.homeContainer {

		.welcomeBox {

			.homeFinderNameMobile {
				display: none;
			}
		}
	}
}